@media screen and (max-width: 600px) {
    body {
        
    }
    
    h2 {
        width: 94rem;
        padding: 0 0 4rem 0;
        margin: 12rem auto -2rem auto;
        
        font-size: 8rem;
    }
    
    h3 {
        width: 94rem;
        margin: 8rem auto -4rem auto;
        
        font-size: 4rem;
    }
    
    
    
    /* Content */
    
    .content p {
        width: 94rem;
        margin: 6rem auto;
        
        font-size: 4rem;
    }
    
    .content ul, .content ol {
        width: 94rem;
        margin: 6rem auto;
        
        font-size: 4rem;
    }
    
    .content blockquote {
        width: 94rem;
        padding: 1px 8rem;
    }
    
    .pull-quote {
        width: 94rem;
        padding: 12rem 8rem;
        margin: 8rem auto;
        
        font-size: 8rem;
    }
    
    .image-caption {
        display: none;
    }
    
    .video-frame {
        width: 94rem;
        height: 53rem;
        margin: 8rem auto;
    }
    
    
    
    /* Hero */
    
    .hero-container {
        height: 150rem !important;
        max-height: 150rem;
        min-height: 150rem;
    }
    
    .hero-logo {
        font-size: 8rem;
    }
    
    .hero-divider, .byline-divider {
        width: 94rem;
        font-size: 8rem;
        line-height: 0.9em;
    }

    .hero-divider:before, .byline-divider:before {
        top: 3.8rem;

        width: 40rem;
        height: 0.4rem;
    }

    .hero-divider:after, .byline-divider:after {
        top: 3.8rem;

        width: 40rem;
        height: 0.4rem;
    }
    
    .hero-content {
        width: 78rem;
        height: calc(100% - 38rem);
    }
    
    h1.hero-headline {
        font-size: 12rem;
    }
    
    .hero-subheadline {
        width: 62rem;
        margin: 4rem auto 0 auto;
        
        font-size: 4rem;
    }
    
    .hero-date {
        padding: 0 0 8rem 0;
        
        font-size: 3rem;
    }
    
    
    
    /* Multi-pages */
    
    .multi-pages {
        position: absolute;
        bottom: 0;
        
    }
    
    .multi-pages.fixed-bottom {
        position: absolute;
        bottom: 0;
    }
    
    .multi-pages.absolute-bottom {
        position: absolute;
        bottom: 0;
    }
    
    .multi-pages a {
        display: block;
        padding: 4rem;
        
        border-top: 1px solid #ddd;
        border-right: none;
        
        font-size: 4rem;
        
        opacity: 0.3;
    }
    
    .multi-pages a.current + a {
        opacity: 1.0;
    }
    
    .multi-pages a:nth-child(1) {
        border-top: none;
    }
    
    .multi-pages a.current + a:before {
        display: inline;
        width: auto;
        margin: 0 1rem 0 0;
        
        font-size: 3rem;
        
        opacity: 1.0;
    }
    
    
    
    /* Byline */
    
    .byline-content {
        width: 94rem;
        margin: 6rem auto 2rem auto;
    }
    
    .byline-image {
        width: 16rem;
        height: 16rem;
        margin: 0 4rem 0 0;
    }
    
    .byline-copy {
        width: 74rem;
        margin: 0 0 0 0;
        padding: 0 0 0 4rem;
        
        font-size: 4rem;
    }
    
    p.authorship {
        margin: 0;
    }
    
    
    
    /* Previous */
    
    .archive {
        padding: 10rem 0 2rem 0;
    }
    
    .previous-container {
        height: 117rem;
    }
    
    .previous-heading {
        padding: 8rem 0 0 0;
        
        font-size: 4rem;
        line-height: 1em;
    }
    
    .previous-content {
        width: 62rem;
        height: calc(100% - 32rem);
    }
    
    .previous-headline {
        font-size: 10rem;
    }
    
    .previous-subheadline {
        margin: 4rem 0 0 0;
        
        font-size: 4rem;
    }
    
    .previous-cta {
        width: 46rem;
        padding: 4rem;
        margin: 0 auto 8rem auto;
        
        font-size: 4rem;
    }
    
    
    
    /* Archive */
    
    .archive h2 {
        margin: 12rem auto 0 auto;
    }
    
    .archive-container {
        width: 94rem;
    }
    
    .archive-story {
        margin: 8rem 0;
    }
    
    .archive-link.current:before {
        left: 16rem;
        
        width: 4rem;
        height: 4rem;
        
        font-size: 4rem;
        line-height: 4rem;
    }
    
    .archive-image {
        width: 16rem;
        height: 16rem;
        
        margin: 0 4rem 0 0;
    }
    
    .archive-meta {
        width: 74rem;
        padding: 0 0 0 4rem;
    }
    
    .archive-headline {
        font-size: 5rem;
    }
    
    .archive-subheadline {
        margin: 2rem 0 0 0;
        
        font-size: 4rem;
    }
    
    .archive-story:nth-child(1n + 6) .archive-meta {
        margin: 0 0 0 20rem;
    }
    
    
    
    /* Footer */
    
    footer.footer {
        padding: 10rem 3rem;
    }
    
    .footer .copyright {
        margin: 10rem 0 0 0;
        
        font-size: 4rem;
        line-height: 5rem;
    }
    
    .footer .copyright span.tsb {
        font-size: 4rem;
    }
    
    .footer .mark {
        width: 20rem;
        height: 20rem;
    }
}